.hero {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    border-radius: 15px;

}

.slides {
    position: absolute;
    height: 100%;
    width: 100%;
}

.slide {
    cursor: pointer;
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transform: scale(1.05);
    transition: opacity 1s ease, transform 1.2s ease;
    border-style: solid;
}

.slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
            to right,
            rgba(0,0,0,0.6),
            rgba(0,0,0,0)
    );

}

.slide.active {
    opacity: 1;
    transform: scale(1);
    z-index: 1;

}

.titlebar {
    background-color: darkgrey;
    display: flex;
    align-items: center;
    gap: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgb(0, 0, 0);
}

.titlebar h1 {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    z-index: 2;

}

html, body {
    margin: 0;
    height: 100%;
    padding: .1%;
}
