.herowrapper {
    display: flex;
    justify-content: center;
}

.hero {
    margin-top: 90px; /* adjust to match titlebar height */
    display: flex;
    position: relative;
    width: 90%;
    border-style: solid;
    border-radius: 18px;
    border-color: white;
    max-height: 80vh;
    aspect-ratio: 16 / 9;

}

.slide {
    cursor: pointer;
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: 2;
    overflow: hidden;
    border-radius: 15px;


}

.slide.active {
    opacity: 1;
    z-index: 1;
    border-radius: 15px;


}
.slides h1 {
    position: absolute;
    color: white;
    opacity: 1;
    display: flex;
    z-index: 3;
    offset-distance: 100px;
    padding-left: 2vw;
    transform: none; /* explicitly prevent inheritance */

}



body {
    position: absolute;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5%;
    overflow-x: hidden;
}


.content_left, .content_center {
    display: flex;
    padding-top: 1%;
    color: #ffffff;
    font-weight: bold;
    font-size: 28px;
    z-index: 2;
    letter-spacing: 2px;
    font-family: STARWARS, sans-serif;

}
.content_left {
    text-align: left;
    line-height: 45px;

}

.content_center {
    text-align: center;
    line-height: 35px;

}

.list {

    font-weight: bold;
    font-size: 32px;
    z-index: 2;
    color: #ffffff;
    line-height: 45px;
    letter-spacing: 4px;
    font-family: starwars, sans-serif;

}

.background {
    position: fixed;
    width: 300%;
    height: 300%;
    top: -100%;
    left: -100%;
    z-index: -100;
    will-change: transform;
    background-image: url("background.png");
    animation: spin 2000s linear infinite;
    background-size: 10%;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: scroll;
    overflow: hidden;
}


@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
html {
}

@font-face {
    font-family: 'starwars';
    src: url('Star Wars.ttf') format('truetype');
}
@font-face {
    font-family: 'STARWARS';
    src: url('https://static.wfonts.com/data/2016/06/08/starwars/STARWARS.woff') format('woff');
    font-display: swap;
}
footer, footer a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 10px;
}

.titlebar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    border: 2px solid white;
    border-radius: 20px;

}

.titlebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw; /* viewport width ensures full line */
    padding: 0 20px;

    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    flex-wrap: nowrap; /* prevent wrapping */
}

.titlebar h1 {
    color: #ffffff;
    text-decoration: none;
    padding-left: 20px;
    font-size: 36px;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    z-index: 2;
    padding-right: 20px ;

}

.characterwrapper {
    display: flex;
    padding-top: 100px;
    text-align: center;

}
.character h1, .character b{
    display: flex;
    padding-left: 1vw;
    color: #ffffff;
    font-weight: bold;
    font-size: 28px;
    z-index: 2;
    letter-spacing: 2px;
    font-family: STARWARS, sans-serif;
    flex-direction: row;

}
.characterimg {
    border-radius: 15px;
}